# LIBRARY

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 50)

# LAPORAN KEUANGAN

In [8]:
data = pd.read_csv("data/tabel 0")
data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,LAPORAN POSISI KEUANGAN\rPT BANK RAKYAT INDONE...,NaN,NaN,NaN,NaN,NaN
1,No.,POS - POS,INDIVIDUAL,KONSOLIDASIAN,NaN,NaN
2,NaN,30 Juni 2023\r(Direviu),31 Desember 2022\r(Diaudit),30 Juni 2023\r(Direviu),31 Desember 2022\r(Diaudit),NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,ASET,NaN,NaN,NaN,NaN,NaN
5,1.,Kas,28.285.017,27.320.384,28.403.964,27.407.478
6,2.,Penempatan pada Bank Indonesia,108.818.110,204.173.428,109.973.583,206.099.330
7,3.,Penempatan pada bank lain,42.530.543,34.472.665,44.983.629,36.700.721
8,4.,Tagihan spot dan derivatif/forward,1.109.328,911.405,1.109.328,911.405
9,5.,Surat berharga yang dimiliki,299.565.364,337.827.485,322.328.099,358.783.819
10,6.,Surat berharga yang dijual dengan janji dibeli...,25.971.983,10.309.955,25.971.983,10.608.374
11,7.,Tagihan atas surat berharga yang dibeli dengan...,22.283.995,51.014.678,22.823.619,51.014.678
12,8.,Tagihan akseptasi,7.617.863,7.096.719,7.617.863,7.167.600
13,9.,Kredit yang diberikan,1.089.371.656,1.029.802.549,1.137.528.613,1.079.274.819
14,10.,Pinjaman syariah,-,-,11.693.680,10.514.329
15,11.,Piutang Pembiayaan,-,-,52.907.202,49.287.917
16,12.,Penyertaan modal,48.809.935,47.936.173,6.772.974,6.506.903
17,13.,Aset keuangan lainnya,19.528.743,17.673.390,25.972.714,24.129.862
18,14.,Cadangan kerugian penurunan nilai aset keuanga...,NaN,NaN,NaN,NaN
19,NaN,a.Surat berharga yang dimiliki,(2.318.716),(1.712.512),(2.321.148),(1.721.764)
20,NaN,b.\rKredit yang diberikan,(79.939.511),(84.578.819),(84.801.750),(89.610.033)
21,NaN,c.Lainnya,(305.512),(155.231),(3.744.320),(3.636.231)
22,15.,Aset tidak berwujud,-,-,806.416,806.416
23,NaN,Akumulasi amortisasi aset tidak berwujud -/-,-,-,-,-
24,16.,Aset tetap dan inventaris,56.407.350,54.097.275,76.888.389,73.951.201
25,NaN,Akumulasi penyusutan aset tetap dan inventaris...,(15.551.847),(14.582.523),(20.260.668),(18.735.154)
26,17.,Aset non produktif,NaN,NaN,NaN,NaN
27,NaN,a.Properti terbengkalai,17.385,17.385,17.385,17.385
28,NaN,b.\rAgunan yang diambil alih,60.125,62.732,64.962,67.569
29,NaN,c.Rekening tunda,-,-,-,-
30,NaN,d.\rAset antarkantor,54.724,6.717,54.724,6.717
31,18.,Aset lainnya,32.446.667,29.300.818,40.355.073,36.085.669
32,NaN,TOTAL ASET,1.684.763.202,1.750.994.673,1.805.146.314,1.865.639.010
33,LIABILITAS DAN EKUITAS,NaN,NaN,NaN,NaN,NaN
34,NaN,LIABILITAS,NaN,NaN,NaN,NaN
35,1.,Giro,298.983.695,349.491.946,298.309.607,349.755.590
36,2.,Tabungan,515.644.428,521.039.799,517.114.641,522.647.920
37,3.,Deposito,425.742.491,430.243.873,429.690.727,435.480.503
38,4.,Uang Elektronik,493.430,456.179,493.430,456.179
39,5.,Liabilitas kepada Bank Indonesia,113.464,113.491,113.464,113.491
40,6.,Liabilitas kepada bank lain,12.881.279,9.480.779,12.684.209,9.334.547
41,7.,Liabilitas spot dan derivatif/forward,820.313,783.921,825.751,783.921
42,8.,Liabilitas atas surat berharga yang dijual den...,24.616.575,9.724.245,24.616.575,9.997.592
43,9.,Liabilitas akseptasi,7.617.863,7.096.719,7.617.863,7.167.600
44,10.,Surat berharga yang diterbitkan,34.446.077,36.841.620,55.953.731,63.611.761
45,11.,Pinjaman/Pembiayaan yang diterima,30.492.742,39.290.379,82.073.302,79.857.593
46,12.,Setoran jaminan,12.402,12.142,12.451,12.193
47,13.,Liabilitas antarkantor,-,-,-,-
48,14.,Liabilitas lainnya,48.184.583,52.797.626,77.148.877,83.024.803
49,NaN,TOTAL LIABILITAS,1.400.049.342,1.457.372.719,1.506.654.628,1.562.243.693
50,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,EKUITAS,NaN,NaN,NaN,NaN
52,15.,Modal disetor,NaN,NaN,NaN,NaN
53,NaN,a.Modal dasar,15.000.000,15.000.000,15.000.000,15.000.000
54,NaN,b.Modal yang belum disetor -/-,(7.422.050),(7.422.050),(7.422.050),(7.422.050)
55,NaN,c.Saham yang dibeli kembali (treasury stock) -/-,(3.019.133),(2.202.178),(3.019.133),(2.202.178)
56,16.,Tambahan modal disetor,NaN,NaN,NaN,NaN
57,NaN,a.Agio,76.240.176,76.029.910,75.847.349,75.637.083
58,NaN,b.Disagio -/-,-,-,-,-
59,NaN,c.Dana setoran modal,-,-,-,-
60,NaN,d.Lainnya,39.870,226.563,1.798.450,1.985.202

In [9]:
data.columns = ['Category', 'POS', 'Individual 30 June 2023', 'Individual 31 December 2022', 'Consolidated 30 June 2023', 'Consolidated 31 December 2022']
data['POS'] = data['POS'].str.strip()

keuangan = data[0:33].reset_index(drop=True)
# liabilitas = data[len(keuangan):].reset_index(drop=True)

In [10]:
keuangan

,Category,POS,Individual 30 June 2023,Individual 31 December 2022,Consolidated 30 June 2023,Consolidated 31 December 2022
0,LAPORAN POSISI KEUANGAN\rPT BANK RAKYAT INDONE...,NaN,NaN,NaN,NaN,NaN
1,No.,POS - POS,INDIVIDUAL,KONSOLIDASIAN,NaN,NaN
2,NaN,30 Juni 2023\r(Direviu),31 Desember 2022\r(Diaudit),30 Juni 2023\r(Direviu),31 Desember 2022\r(Diaudit),NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,ASET,NaN,NaN,NaN,NaN,NaN
5,1.,Kas,28.285.017,27.320.384,28.403.964,27.407.478
6,2.,Penempatan pada Bank Indonesia,108.818.110,204.173.428,109.973.583,206.099.330
7,3.,Penempatan pada bank lain,42.530.543,34.472.665,44.983.629,36.700.721
8,4.,Tagihan spot dan derivatif/forward,1.109.328,911.405,1.109.328,911.405
9,5.,Surat berharga yang dimiliki,299.565.364,337.827.485,322.328.099,358.783.819
10,6.,Surat berharga yang dijual dengan janji dibeli...,25.971.983,10.309.955,25.971.983,10.608.374
11,7.,Tagihan atas surat berharga yang dibeli dengan...,22.283.995,51.014.678,22.823.619,51.014.678
12,8.,Tagihan akseptasi,7.617.863,7.096.719,7.617.863,7.167.600
13,9.,Kredit yang diberikan,1.089.371.656,1.029.802.549,1.137.528.613,1.079.274.819
14,10.,Pinjaman syariah,-,-,11.693.680,10.514.329
15,11.,Piutang Pembiayaan,-,-,52.907.202,49.287.917
16,12.,Penyertaan modal,48.809.935,47.936.173,6.772.974,6.506.903
17,13.,Aset keuangan lainnya,19.528.743,17.673.390,25.972.714,24.129.862
18,14.,Cadangan kerugian penurunan nilai aset keuanga...,NaN,NaN,NaN,NaN
19,NaN,a.Surat berharga yang dimiliki,(2.318.716),(1.712.512),(2.321.148),(1.721.764)
20,NaN,b.\rKredit yang diberikan,(79.939.511),(84.578.819),(84.801.750),(89.610.033)
21,NaN,c.Lainnya,(305.512),(155.231),(3.744.320),(3.636.231)
22,15.,Aset tidak berwujud,-,-,806.416,806.416
23,NaN,Akumulasi amortisasi aset tidak berwujud -/-,-,-,-,-
24,16.,Aset tetap dan inventaris,56.407.350,54.097.275,76.888.389,73.951.201
25,NaN,Akumulasi penyusutan aset tetap dan inventaris...,(15.551.847),(14.582.523),(20.260.668),(18.735.154)
26,17.,Aset non produktif,NaN,NaN,NaN,NaN
27,NaN,a.Properti terbengkalai,17.385,17.385,17.385,17.385
28,NaN,b.\rAgunan yang diambil alih,60.125,62.732,64.962,67.569
29,NaN,c.Rekening tunda,-,-,-,-
30,NaN,d.\rAset antarkantor,54.724,6.717,54.724,6.717
31,18.,Aset lainnya,32.446.667,29.300.818,40.355.073,36.085.669
32,NaN,TOTAL ASET,1.684.763.202,1.750.994.673,1.805.146.314,1.865.639.010

In [11]:
keuangan = keuangan.drop([0,1,2,3,4])
keuangan = keuangan.drop(columns = ["Category"])
keuangan = keuangan.fillna(0)
keuangan['POS'] = keuangan['POS'].str.replace('a.', '').str.replace('b.', '').str.replace('c.', '').str.replace('d.', '') 
keuangan['POS'] = keuangan['POS'].str.replace('-/-', '').str.replace('\r', '').str.strip()
keuangan = keuangan.map(lambda x: x.replace('(', '').replace(')', '').replace('-', '0') if isinstance(x, str) else x)
keuangan

,POS,Individual 30 June 2023,Individual 31 December 2022,Consolidated 30 June 2023,Consolidated 31 December 2022
5,Kas,28.285.017,27.320.384,28.403.964,27.407.478
6,Penempatan pada Bank Indonesia,108.818.110,204.173.428,109.973.583,206.099.330
7,Penempatan pada bank lain,42.530.543,34.472.665,44.983.629,36.700.721
8,Tagihan spot dan derivatif/forward,1.109.328,911.405,1.109.328,911.405
9,Surat berharga yang dimiliki,299.565.364,337.827.485,322.328.099,358.783.819
10,Surat berharga yang dijual dengan janji dibeli...,25.971.983,10.309.955,25.971.983,10.608.374
11,Tagihan atas surat berharga yang dibeli dengan...,22.283.995,51.014.678,22.823.619,51.014.678
12,Tagihan akseptasi,7.617.863,7.096.719,7.617.863,7.167.600
13,Kredit yang diberikan,1.089.371.656,1.029.802.549,1.137.528.613,1.079.274.819
14,Pinjaman syariah,0,0,11.693.680,10.514.329
15,Piutang Pembiayaan,0,0,52.907.202,49.287.917
16,Penyertaan modal,48.809.935,47.936.173,6.772.974,6.506.903
17,Aset keuangan lainnya,19.528.743,17.673.390,25.972.714,24.129.862
18,Cadangan kerugian penurunan nilai aset keuangan,0,0,0,0
19,Surat berharga yang dimiliki,2.318.716,1.712.512,2.321.148,1.721.764
20,Kredit yang diberikan,79.939.511,84.578.819,84.801.750,89.610.033
21,Lainnya,305.512,155.231,3.744.320,3.636.231
22,Aset tidak berwujud,0,0,806.416,806.416
23,Akumulasi amortisasi aset tidak berwujud,0,0,0,0
24,Aset tetap dan inventaris,56.407.350,54.097.275,76.888.389,73.951.201
25,Akumulasi penyusutan aset tetap dan inventaris,15.551.847,14.582.523,20.260.668,18.735.154
26,Aset non produktif,0,0,0,0
27,Properti terbengkalai,17.385,17.385,17.385,17.385
28,Agunan yang diambil alih,60.125,62.732,64.962,67.569
29,Rekening tunda,0,0,0,0
30,Aset antarkantor,54.724,6.717,54.724,6.717
31,Aset lainnya,32.446.667,29.300.818,40.355.073,36.085.669
32,TOTAL ASET,1.684.763.202,1.750.994.673,1.805.146.314,1.865.639.010

In [12]:
for col in ["Individual 30 June 2023", "Individual 31 December 2022", "Consolidated 30 June 2023", "Consolidated 31 December 2022"]:
    keuangan[col] = keuangan[col].str.replace('.', '', regex=False).astype(float)

keuangan = keuangan.dropna()

keuangan

,POS,Individual 30 June 2023,Individual 31 December 2022,Consolidated 30 June 2023,Consolidated 31 December 2022
5,Kas,2.828502e+07,2.732038e+07,2.840396e+07,2.740748e+07
6,Penempatan pada Bank Indonesia,1.088181e+08,2.041734e+08,1.099736e+08,2.060993e+08
7,Penempatan pada bank lain,4.253054e+07,3.447266e+07,4.498363e+07,3.670072e+07
8,Tagihan spot dan derivatif/forward,1.109328e+06,9.114050e+05,1.109328e+06,9.114050e+05
9,Surat berharga yang dimiliki,2.995654e+08,3.378275e+08,3.223281e+08,3.587838e+08
10,Surat berharga yang dijual dengan janji dibeli...,2.597198e+07,1.030996e+07,2.597198e+07,1.060837e+07
11,Tagihan atas surat berharga yang dibeli dengan...,2.228400e+07,5.101468e+07,2.282362e+07,5.101468e+07
12,Tagihan akseptasi,7.617863e+06,7.096719e+06,7.617863e+06,7.167600e+06
13,Kredit yang diberikan,1.089372e+09,1.029803e+09,1.137529e+09,1.079275e+09
14,Pinjaman syariah,0.000000e+00,0.000000e+00,1.169368e+07,1.051433e+07
15,Piutang Pembiayaan,0.000000e+00,0.000000e+00,5.290720e+07,4.928792e+07
16,Penyertaan modal,4.880994e+07,4.793617e+07,6.772974e+06,6.506903e+06
17,Aset keuangan lainnya,1.952874e+07,1.767339e+07,2.597271e+07,2.412986e+07
19,Surat berharga yang dimiliki,2.318716e+06,1.712512e+06,2.321148e+06,1.721764e+06
20,Kredit yang diberikan,7.993951e+07,8.457882e+07,8.480175e+07,8.961003e+07
21,Lainnya,3.055120e+05,1.552310e+05,3.744320e+06,3.636231e+06
22,Aset tidak berwujud,0.000000e+00,0.000000e+00,8.064160e+05,8.064160e+05
23,Akumulasi amortisasi aset tidak berwujud,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
24,Aset tetap dan inventaris,5.640735e+07,5.409728e+07,7.688839e+07,7.395120e+07
25,Akumulasi penyusutan aset tetap dan inventaris,1.555185e+07,1.458252e+07,2.026067e+07,1.873515e+07
27,Properti terbengkalai,1.738500e+04,1.738500e+04,1.738500e+04,1.738500e+04
28,Agunan yang diambil alih,6.012500e+04,6.273200e+04,6.496200e+04,6.756900e+04
29,Rekening tunda,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
30,Aset antarkantor,5.472400e+04,6.717000e+03,5.472400e+04,6.717000e+03
31,Aset lainnya,3.244667e+07,2.930082e+07,4.035507e+07,3.608567e+07
32,TOTAL ASET,1.684763e+09,1.750995e+09,1.805146e+09,1.865639e+09

In [13]:
# Likuiditas perusahaan

likuiditas = keuangan[keuangan["POS"].isin([
    "Kas", 
    "Penempatan pada Bank Indonesia",
    "Penempatan pada bank lain",
])]

In [14]:
# Aset produktif

aset_produktif = keuangan[keuangan["POS"].isin([
    "Surat berharga yang dimiliki",
    "Tagihan spot dan derivatif/forward",
    "Surat berharga yang dimiliki",
    "Kredit yang diberikan"
])]

aset_produktif = aset_produktif.drop([19, 20])

In [15]:
# Struktur Modal

modal = keuangan[keuangan["POS"].isin([
    "Penyertaan modal",
    "TOTAL ASET",
])]

# LAPORAN RASIO KEUANGAN

In [16]:
data = pd.read_csv("data/tabel 11")
data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,LAPORAN RASIO KEUANGAN\rPT BANK RAKYAT INDONES...,NaN,NaN,NaN
1,Rasio,30 Juni 2023\r(Direviu),30 Juni 2022,NaN
2,NaN,NaN,NaN,NaN
3,Rasio Kinerja,NaN,NaN,NaN
4,1.,Kewajiban Penyediaan Modal Minimum (KPMM),"24,65","22,97"
5,2.,Aset produktif bermasalah dan aset non- produk...,"1,97","2,18"
6,3.,Aset produktif bermasalah terhadap total aset ...,"1,97","2,18"
7,4.,Cadangan Kerugian Penurunan Nilai (CKPN) aset ...,"5,78","6,74"
8,5.,NPL gross,"3,10","3,32"
9,6.,NPL net,"0,76","0,86"
10,7.,Return on Asset (ROA) 1),"3,93","3,82"
11,8.,Return on Asset (ROA) 2),"3,14","3,11"
12,9.,Return on Equity (ROE) 3),"23,11","21,43"
13,10.,Return on Equity (ROE) 4),"18,40","17,08"
14,11.,Net Interest Margin (NIM),"6,81","7,35"
15,12.,Beban Operasional terhadap Pendapatan Operasio...,"64,21","63,98"
16,13.,Cost to Income Ratio (CIR),"38,96","37,11"
17,14.,Loan to Deposit Ratio (LDR),"87,83","88,95"
18,Kepatuhan (Compliance),NaN,NaN,NaN
19,1.,a. Persentase pelanggaran BMPK,NaN,NaN
20,NaN,i. Pihak terkait,"0,00","0,00"
21,NaN,ii. Pihak tidak terkait,"0,00","0,00"
22,NaN,b. Persentase pelampauan BMPK,NaN,NaN
23,NaN,i. Pihak terkait,"0,00","0,00"
24,NaN,ii. Pihak tidak terkait,"0,00","0,00"
25,2.,GWM,NaN,NaN
26,NaN,a. GWM utama rupiah,NaN,NaN
27,NaN,- Harian,"0,00","0,00"
28,NaN,- Rata-rata,"7,04","5,21"
29,NaN,b. GWM valuta asing (harian),"2,00","2,00"
30,3.,Posisi Devisa Neto (PDN) secara keseluruhan,"2,70","0,48"

In [17]:
data.columns = ['POS', 'Rasio', '30 June 2023', '30 June 2022']
data['POS'] = data['POS'].str.strip()

In [18]:
rasio = data.drop([0, 1, 2, 3])
rasio = rasio.drop(columns=["POS"])
rasio = rasio.fillna(0)
rasio['Rasio'] = rasio['Rasio'].str.replace('a.', '').str.replace('b.', '').str.replace('c.', '').str.replace('d.', '') 
rasio['Rasio'] = rasio['Rasio'].str.replace('-/-', '').str.replace('\r', '').str.strip()
rasio[["30 June 2023","30 June 2022"]] = rasio[["30 June 2023","30 June 2022"]].map(lambda x: x.replace('(', '').replace(')', '').replace('-', '0') if isinstance(x, str) else x)

In [19]:
for col in ["30 June 2023","30 June 2022"]:
    rasio[col] = rasio[col].str.replace(',', '.', regex=False).astype(float)

rasio = rasio.dropna()

rasio

,Rasio,30 June 2023,30 June 2022
4,Kewajiban Penyediaan Modal Minimum (KPMM),24.65,22.97
5,Aset produktif bermasalah dan aset non- produk...,1.97,2.18
6,Aset produktif bermasalah terhadap total aset ...,1.97,2.18
7,Cadangan Kerugian Penurunan Nilai (CKPN) aset ...,5.78,6.74
8,NPL gross,3.10,3.32
9,NPL net,0.76,0.86
10,Return on Asset (ROA) 1),3.93,3.82
11,Return on Asset (ROA) 2),3.14,3.11
12,Return on Equity (ROE) 3),23.11,21.43
13,Return on Equity (ROE) 4),18.40,17.08
14,Net Interest Margin (NIM),6.81,7.35
15,Beban Operasional terhadap Pendapatan Operasio...,64.21,63.98
16,Cost to Income Ratio (CIR),38.96,37.11
17,Loan to Deposit Ratio (LDR),87.83,88.95
20,i. Pihak terkait,0.00,0.00
21,ii. Pihak tidak terkait,0.00,0.00
23,i. Pihak terkait,0.00,0.00
24,ii. Pihak tidak terkait,0.00,0.00
27,- Harian,0.00,0.00
28,- Rata-rata,7.04,5.21
29,GWM valuta asing (harian),2.00,2.00
30,Posisi Devisa Neto (PDN) secara keseluruhan,2.70,0.48

In [20]:
# Kewajiban Penyediaan Modal Minimum (KPMM)

kpmm = rasio[rasio["Rasio"].isin([
    "Kewajiban Penyediaan Modal Minimum (KPMM)" 
])]

In [21]:
# Kualitas Aset (NPL Gross dan Net)

npl = rasio[rasio["Rasio"].isin([
    "NPL gross",
    "NPL net"
])]

In [22]:
# Return on Asset (ROA)

roa = rasio[rasio["Rasio"].isin([
    "Return on Asset  (ROA) 1)",
    "Return on Asset  (ROA) 2)"
])]

In [23]:
# Return on Equity (ROE)

roe = rasio[rasio["Rasio"].isin([
    "Return on Equity  (ROE) 3)",
    "Return on Equity  (ROE) 4)"
])]

In [24]:
# Net Interest Margin (NIM)

nim = rasio[rasio["Rasio"].isin([
    "Net Interest Margin  (NIM)"
])]

In [25]:
# Beban Operasional terhadap Pendapatan Operasional (BOPO)

bopo = rasio[rasio["Rasio"].isin([
    "Beban Operasional terhadap Pendapatan Operasional (BOPO)"
])]

In [26]:
# Cost to Income Ratio (CIR)

cir = rasio[rasio["Rasio"].isin([
    "Cost to Income Ratio (CIR)"
])]

In [27]:
# Loan to Deposit Ratio (LDR)

ldr = rasio[rasio["Rasio"].isin([
    "Loan to Deposit Ratio  (LDR)"
])]

In [28]:
# to excel 

with pd.ExcelWriter("laporan_keuangan.xlsx") as writer:
    likuiditas.reset_index(drop=True).to_excel(writer, sheet_name="likuiditas")
    aset_produktif.reset_index(drop=True).to_excel(writer, sheet_name="aset produktif")
    modal.reset_index(drop=True).to_excel(writer, sheet_name="modal")
    kpmm.reset_index(drop=True).to_excel(writer, sheet_name="kpmm")
    npl.reset_index(drop=True).to_excel(writer, sheet_name="npl")
    roa.reset_index(drop=True).to_excel(writer, sheet_name="roa")
    roe.reset_index(drop=True).to_excel(writer, sheet_name="roe")
    nim.reset_index(drop=True).to_excel(writer, sheet_name="nim")
    bopo.reset_index(drop=True).to_excel(writer, sheet_name="bopo")
    cir.reset_index(drop=True).to_excel(writer, sheet_name="cir")
    ldr.reset_index(drop=True).to_excel(writer, sheet_name="ldr")